{% extends 'dashboard_base.html' %}
{% load static %}

{% block title %}Dashboard-Votes-Candidates{% endblock %}

{% block body %}
<section class='flex flex-col justify-center max-w-5xl mx-auto xl:py-0'>
    <h1 class='mb-4 text-4xl font-bold text-maroon'>
        CAST YOUR VOTES NOW for <span class="text-dmaroon">{{ election.title }}</span>!
    </h1>
    {% for position in positions %}
    <div class='flex flex-col items-center justify-center gap-3 pt-10 text-center'>
        <h1 class='pt-2 pl-6 mb-4 text-2xl font-bold text-dark-maroon px-28'>{{ position.title }}</h1>
        <div class='container grid w-3 grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mb-28 xl:grid-cols-3'>
            {% for candidate in candidates %}
                {% if candidate.position == position and candidate.election == election %}  <!-- Check election -->
                    <div class="flex flex-col items-center justify-center h-full px-10 py-5 overflow-hidden text-center border-2 shadow-md w-92 border-maroon rounded-xl text-maroon">
                        <div class="w-40 h-40 mb-2 overflow-hidden border-4 rounded-full border-maroon">
                            {% if candidate.image %}
                                <img src="{{ candidate.image.url }}" class="object-cover h-full rounded-full" alt="{{ candidate.name }}">
                            {% else %}
                                <img src="{% static 'landingpics/default.png' %}" class="object-cover h-full rounded-full" alt="No Image">
                            {% endif %}
                        </div>
                        <div class="container py-5">
                            <h1 class='text-2xl font-bold text-center bg-white'>{{ candidate.name }}</h1>
                            <h3 class='font-medium text-center bg-white'>{{ candidate.year }}</h3>
                        </div>
                        <div class="container flex flex-row justify-center gap-2">
                            <a href="">
                                <button class="px-12 py-2 mb-2 font-medium rounded-full bg-maroon text-white2 w-fit">
                                    Vote
                                </button>
                            </a>
                            <a href="">
                                <button class="w-32 px-4 py-2 mb-2 font-medium border-2 rounded-full border-maroon text-maroon">
                                    View&nbspDetails
                                </button>
                            </a>    
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}    
</section>
{% endblock %}
